<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="PerformanceTestEntities" connectionString="metadata=res://*/PerformanceTest.csdl|res://*/PerformanceTest.ssdl|res://*/PerformanceTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PerformanceTest;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
