<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" requirePermission="false" />
  </configSections>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <references />
    <connections>
      <connection id="PerformanceTest">
        <databasename>PerformanceTest</databasename>
        <servername>(LOCAL)</servername>
        <integratedSecurity>True</integratedSecurity>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
      </connection>
    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mappingname>mssqlMapping</mappingname>
      </backendconfiguration>
    </backendconfigurations>
    <mappings current="mssqlMapping">
      <mapping id="mssqlMapping">
        <namespace name="OrmBattle.TelerikModel.PerformanceTest">
          <class name="Simplest">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="Simplests" />
            <field name="id">
              <extension key="db-column">
                <extension key="db-type" value="BIGINT" />
                <extension key="db-column-name" value="Id" />
              </extension>
            </field>
            <field name="value">
              <extension key="db-column">
                <extension key="db-type" value="BIGINT" />
                <extension key="db-column-name" value="Value" />
              </extension>
            </field>
            <extension key="db-optimistic-locking" value="changed" />
          </class>
        </namespace>
      </mapping>
    </mappings>
  </openaccess>
</configuration>