<?xml version="1.0" encoding="UTF-8"?>
<openaccess>
    <classGenerator defaultPackageName="TelerikModel.PerformanceTest">
        <tables>
            <table name="'Simplest'" type="1" locked="True">
                <column name="Id" isPk="True" isAutoInc="False" adoType="-5" sqlType="bigint" length="0" isNull="False" />
                <column name="Value" isPk="False" isAutoInc="False" adoType="-5" sqlType="bigint" length="0" isNull="False" />
                <class name="Simplest" check="-1" generated="True">
                    <field name="id" type="1" isPK="True" column="Id" valueType="System.Int64" />
                    <field name="value" type="1" isPK="False" column="Value" valueType="System.Int64" />
                </class>
            </table>
        </tables>
        <views />
        <procedures />
    </classGenerator>
    <options>
        <general mapTables="True" mapViews="False" />
        <sourcegeneration partial="True" />
        <allSchemata>
            <schemata name="(default)" />
        </allSchemata>
        <usedSchemata>
            <schemata name="(default)" />
        </usedSchemata>
        <mapping>
            <identity explicitIDClass="False" />
            <procedure insert="False" update="False" delete="False" />
        </mapping>
    </options>
</openaccess>

