<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Northwind.ConnectionString" value="data source=.;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096"/>
		<add key="PerformanceTest.ConnectionString" value="data source=.;initial catalog=PerformanceTest;integrated security=SSPI;persist security info=False;packet size=4096"/>
	</appSettings>
</configuration>
