<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm" />
    <section name="Xtensive.Diagnostics" type="Xtensive.Diagnostics.Configuration.ConfigurationSection, Xtensive.Core" />
    <section name="lightSpeedContexts" type="Mindscape.LightSpeed.Configuration.LightSpeedConfigurationSection, Mindscape.LightSpeed" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="PerformanceTestEntities" connectionString="metadata=res://*/PerformanceTest.csdl|res://*/PerformanceTest.ssdl|res://*/PerformanceTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PerformanceTest;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Northwind" providerName="System.Data.SqlClient" connectionString="Data Source=.;initial catalog=Northwind;Integrated Security=SSPI;MultipleActiveResultSets = true" />
    <add name="NorthwindContext" connectionString="Data Source=.;initial catalog=Northwind;Integrated Security=SSPI;MultipleActiveResultSets = true" />
    <add name="LSNorthwind" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;Pooling=True;MultipleActiveResultSets = true" />
    <add name="PerformanceTest" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=PerformanceTest;Integrated Security=True;Pooling=True;MultipleActiveResultSets = true" />
  </connectionStrings>
  <lightSpeedContexts>
    <!-- TODO: Check pluralizeTableNames setting -->
    <!-- TODO: Add identityMethod="..." if not using KeyTable -->
    <add name="LSNorthwind" connectionStringName="Northwind" dataProvider="SqlServer2005" pluralizeTableNames="True" identityMethod="IdentityColumn" />
    <add name="PerformanceTest" connectionStringName="PerformanceTest" dataProvider="SqlServer2005" pluralizeTableNames="False" identityMethod="KeyTable" />
  </lightSpeedContexts>
  <Xtensive.Orm>
    <domains>
      <domain name="mssql2005" connectionUrl="sqlserver://localhost/DO40-Tests" upgradeMode="Recreate" />
    </domains>
  </Xtensive.Orm>
  <Xtensive.Diagnostics>
    <logs>
      <log name="" provider="Null" />
      <log name="OrmBattle.Tests" provider="File" events="All" fileName="LastTestRun.log" format="Comprehensive" />
    </logs>
  </Xtensive.Diagnostics>
  <appSettings>
    <add key="Northwind.ConnectionString" value="data source=.;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096;MultipleActiveResultSets = true" />
    <add key="PerformanceTest.ConnectionString" value="data source=.;initial catalog=PerformanceTest;integrated security=SSPI;persist security info=False;packet size=4096;MultipleActiveResultSets = true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.3.0" newVersion="6.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
