<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq2SqlModel.Properties.Settings.PerformanceTestConnectionString"
            connectionString="Data Source=.;Initial Catalog=PerformanceTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Linq2SqlModel.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>