<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Xtensive.Orm" type="Xtensive.Orm.Configuration.Elements.ConfigurationSection, Xtensive.Orm"/>
    <section name="Xtensive.Diagnostics" type="Xtensive.Diagnostics.Configuration.ConfigurationSection, Xtensive.Core"/>
    <section name="lightSpeedContexts" type="Mindscape.LightSpeed.Configuration.LightSpeedConfigurationSection, Mindscape.LightSpeed"/>
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="PerformanceTestEntities" connectionString="metadata=res://*/PerformanceTest.csdl|res://*/PerformanceTest.ssdl|res://*/PerformanceTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PerformanceTest;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="NorthwindContext" connectionString="Data Source=.;initial catalog=Northwind;Integrated Security=SSPI;MultipleActiveResultSets = true"/>
    <add name="Northwind" connectionString="Data Source=.;initial catalog=Northwind;Integrated Security=SSPI;MultipleActiveResultSets = true"/>
    <add name="LSNorthwind" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;Pooling=True;MultipleActiveResultSets = true"/>
    <add name="PerformanceTest" connectionString="Data Source=.;Initial Catalog=PerformanceTest;Integrated Security=True;Pooling=True;MultipleActiveResultSets = true"/>
  </connectionStrings>
  <lightSpeedContexts>
    <!-- TODO: Check pluralizeTableNames setting -->
    <!-- TODO: Add identityMethod="..." if not using KeyTable -->
    <add name="LSNorthwind" connectionStringName="Northwind" dataProvider="SqlServer2005" pluralizeTableNames="True" identityMethod="IdentityColumn"/>
    <add name="PerformanceTest" connectionStringName="PerformanceTest" dataProvider="SqlServer2005" pluralizeTableNames="False" identityMethod="KeyTable"/>
  </lightSpeedContexts>
  <Xtensive.Orm>
    <domains>
      <domain name="mssql2005" connectionUrl="sqlserver://localhost/DO40-Tests" upgradeMode="Recreate"/>
    </domains>
  </Xtensive.Orm>
  <Xtensive.Diagnostics>
    <logs>
      <log name="" provider="Null"/>
      <log name="OrmBattle.Tests" provider="File" events="All" fileName="LastTestRun.log" format="Comprehensive"/>
    </logs>
  </Xtensive.Diagnostics>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <references>
      <reference assemblyname="Tests" configrequired="True"/>
    </references>
    <connections>
      <connection id="PerformanceTest">
        <databasename>PerformanceTest</databasename>
        <servername>(LOCAL)</servername>
        <integratedSecurity>True</integratedSecurity>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
        <reference assemblyname="TelerikModel.PerformanceTest" configrequired="True"/>
      </connection>
      <connection id="NorthwindContext">
        <databasename>Northwind</databasename>
        <servername>(LOCAL)</servername>
        <integratedSecurity>True</integratedSecurity>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
        <reference assemblyname="TelerikModel.Northwind" configrequired="True"/>
      </connection>
    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mappingname>mssqlMapping</mappingname>
      </backendconfiguration>
    </backendconfigurations>
  </openaccess>
  <appSettings>
    <add key="Northwind.ConnectionString" value="data source=.;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096;MultipleActiveResultSets = true"/>
    <add key="PerformanceTest.ConnectionString" value="data source=.;initial catalog=PerformanceTest;integrated security=SSPI;persist security info=False;packet size=4096;MultipleActiveResultSets = true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.100" newVersion="10.2.0.100"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Npgsql" publicKeyToken="5D8B90D52F46FDA7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.2.3.0" newVersion="6.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750ABCC3150B00C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
