<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="Xtensive.Storage" type="Xtensive.Storage.Configuration.Elements.ConfigurationSection, Xtensive.Storage" />
    <section name="lightSpeedContexts" type="Mindscape.LightSpeed.Configuration.LightSpeedConfigurationSection, Mindscape.LightSpeed" />
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="PerformanceTestEntities" connectionString="metadata=res://*/PerformanceTest.csdl|res://*/PerformanceTest.ssdl|res://*/PerformanceTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=PerformanceTest;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Northwind" connectionString="Data Source=.;initial catalog=Northwind;Integrated Security=SSPI;MultipleActiveResultSets = true" />
    <add name="LSNorthwind" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;Pooling=True;MultipleActiveResultSets = true" />
    <add name="PerformanceTest" connectionString="Data Source=.;Initial Catalog=PerformanceTest;Integrated Security=True;Pooling=True;MultipleActiveResultSets = true" />
  </connectionStrings>
  <lightSpeedContexts>
    <!-- TODO: Check pluralizeTableNames setting -->
    <!-- TODO: Add identityMethod="..." if not using KeyTable -->
    <add name="LSNorthwind" connectionStringName="Northwind" dataProvider="SqlServer2005" pluralizeTableNames="True" identityMethod="IdentityColumn" />
    <add name="PerformanceTest" connectionStringName="PerformanceTest" dataProvider="SqlServer2005" pluralizeTableNames="False" identityMethod="KeyTable" />
  </lightSpeedContexts>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5timestamp/%-4.16thread %5level %-24logger %property{indentString}%message%newline" />
      </layout>
    </appender>
    <appender name="NullAppender" type="log4net.Appender.ForwardingAppender">
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="NullAppender" />
    </root>
    <logger name="Null" additivity="false">
      <appender-ref ref="NullAppender" />
    </logger>
  </log4net>
  <Xtensive.Storage>
    <domains>
      <domain name="mssql2005" connectionUrl="sqlserver://localhost/DO40-Tests" upgradeMode="Recreate" />
    </domains>
  </Xtensive.Storage>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <references>
      
      <reference assemblyname="Tests" configrequired="True" />
      
    </references>
    <connections>
      <connection id="PerformanceTest">
        <databasename>PerformanceTest</databasename>
        <servername>(LOCAL)</servername>
        <integratedSecurity>True</integratedSecurity>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
        <reference assemblyname="TelerikModel.PerformanceTest" configrequired="True" />
      </connection>
      <connection id="NorthwindConnection">
        <databasename>Northwind</databasename>
        <servername>(LOCAL)</servername>
        <integratedSecurity>True</integratedSecurity>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
        <reference assemblyname="TelerikModel.Northwind" configrequired="True" />
      </connection>
    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mappingname>mssqlMapping</mappingname>
      </backendconfiguration>
    </backendconfigurations>
  </openaccess>
  <appSettings>
    <add key="Northwind.ConnectionString" value="data source=.;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096;MultipleActiveResultSets = true" />
    <add key="PerformanceTest.ConnectionString" value="data source=.;initial catalog=PerformanceTest;integrated security=SSPI;persist security info=False;packet size=4096;MultipleActiveResultSets = true" />
  </appSettings>
</configuration>