<?xml version="1.0" encoding="utf-8" ?>
<!-- SqlServer Database driver settings. -->
<databaseDriver>
	<name>SQL Server 7/2000/2005/2008/Express/MSDE Driver (SqlClient)</name>
	<assemblyFilename>SD.LLBLGen.Pro.DBDrivers.SqlServerDBDriver.dll</assemblyFilename>
	<namespace>SD.LLBLGen.Pro.DBDrivers.SqlServer</namespace>
	<className>SqlServerDBDriver</className>
	<driverID>2D18D138-1DD2-467E-86CC-4838250611AE</driverID>
	<dynamicQueryEngineNamespace>SD.LLBLGen.Pro.DQE.SqlServer</dynamicQueryEngineNamespace>
	<templatesRootFolder>Templates</templatesRootFolder>
</databaseDriver>
