<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" requirePermission="false" />
  </configSections>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <references />
    <connections>
      <connection id="NorthwindConnection">
        <databasename>Northwind</databasename>
        <servername>(LOCAL)</servername>
        <integratedSecurity>True</integratedSecurity>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
      </connection>
    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mappingname>mssqlMapping</mappingname>
      </backendconfiguration>
    </backendconfigurations>
    <mappings current="mssqlMapping">
      <mapping id="mssqlMapping">
        <namespace name="OrmBattle.TelerikModel.Northwind">
          <class name="Shipper">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="Shippers" />
            <field name="id">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="ShipperID" />
              </extension>
            </field>
            <field name="companyName">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="CompanyName" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="40" />
              </extension>
            </field>
            <field name="phone">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Phone" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="24" />
              </extension>
            </field>
            <field name="orders">
              <collection>
                <extension key="inverse" value="shipper" />
              </collection>
            </field>
            <extension key="db-key-generator" value="AUTOINC" />
            <extension key="db-optimistic-locking" value="changed" />
          </class>
          <class name="Employee">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="Employees" />
            <field name="id">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="EmployeeID" />
              </extension>
            </field>
            <field name="address">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Address" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="60" />
              </extension>
            </field>
            <field name="birthDate">
              <extension key="db-column">
                <extension key="db-type" value="TIMESTAMP" />
                <extension key="db-column-name" value="BirthDate" />
              </extension>
            </field>
            <field name="city">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="City" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="country">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Country" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="extension">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Extension" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="4" />
              </extension>
            </field>
            <field name="firstName">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="FirstName" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="10" />
              </extension>
            </field>
            <field name="hireDate">
              <extension key="db-column">
                <extension key="db-type" value="TIMESTAMP" />
                <extension key="db-column-name" value="HireDate" />
              </extension>
            </field>
            <field name="homePhone">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="HomePhone" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="24" />
              </extension>
            </field>
            <field name="lastName">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="LastName" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="20" />
              </extension>
            </field>
            <field name="notes">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="CLOB" />
                <extension key="db-column-name" value="Notes" />
                <extension key="db-sql-type" value="ntext" />
              </extension>
            </field>
            <field name="photo">
              <extension key="db-column">
                <extension key="db-type" value="LONGVARBINARY" />
                <extension key="db-column-name" value="Photo" />
              </extension>
            </field>
            <field name="photoPath">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="PhotoPath" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="255" />
              </extension>
            </field>
            <field name="postalCode">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="PostalCode" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="10" />
              </extension>
            </field>
            <field name="region">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Region" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="title">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Title" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="30" />
              </extension>
            </field>
            <field name="titleOfCourtesy">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="TitleOfCourtesy" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="25" />
              </extension>
            </field>
            <field name="reportsTo">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="ReportsTo" />
              </extension>
            </field>
            <field name="employees">
              <collection>
                <extension key="inverse" value="reportsTo" />
              </collection>
            </field>
            <field name="orders">
              <collection>
                <extension key="inverse" value="employee" />
              </collection>
            </field>
            <field name="territories">
              <collection>
                <extension key="db-link-table">
                  <extension key="db-table-name" value="'EmployeeTerritories'" />
                  <extension key="db-owner-ref">
                    <extension key="db-column">
                      <extension key="db-type" value="INTEGER" />
                      <extension key="db-column-name" value="EmployeeID" />
                    </extension>
                  </extension>
                  <extension key="db-value">
                    <extension key="db-column" value="mssql">
                      <extension key="db-type" value="VARCHAR" />
                      <extension key="db-column-name" value="TerritoryID" />
                      <extension key="db-sql-type" value="nvarchar" />
                      <extension key="db-length" value="20" />
                    </extension>
                  </extension>
                </extension>
                <extension key="ordered" value="false" />
              </collection>
            </field>
            <extension key="db-key-generator" value="AUTOINC" />
            <extension key="db-optimistic-locking" value="changed" />
            <extension key="db-index" value="LastName">
              <extension key="field-name" value="lastName" />
            </extension>
            <extension key="db-index" value="PostalCode">
              <extension key="field-name" value="postalCode" />
            </extension>
          </class>
          <class name="Customer">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="Customers" />
            <field name="id">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="CHAR" />
                <extension key="db-column-name" value="CustomerID" />
                <extension key="db-sql-type" value="nchar" />
                <extension key="db-length" value="5" />
              </extension>
            </field>
            <field name="address">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Address" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="60" />
              </extension>
            </field>
            <field name="city">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="City" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="companyName">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="CompanyName" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="40" />
              </extension>
            </field>
            <field name="contactName">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="ContactName" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="30" />
              </extension>
            </field>
            <field name="contactTitle">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="ContactTitle" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="30" />
              </extension>
            </field>
            <field name="country">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Country" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="fax">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Fax" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="24" />
              </extension>
            </field>
            <field name="phone">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Phone" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="24" />
              </extension>
            </field>
            <field name="postalCode">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="PostalCode" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="10" />
              </extension>
            </field>
            <field name="region">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Region" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="orders">
              <collection>
                <extension key="inverse" value="customer" />
              </collection>
            </field>
            <extension key="db-optimistic-locking" value="changed" />
            <extension key="db-index" value="City">
              <extension key="field-name" value="city" />
            </extension>
            <extension key="db-index" value="CompanyName">
              <extension key="field-name" value="companyName" />
            </extension>
            <extension key="db-index" value="PostalCode">
              <extension key="field-name" value="postalCode" />
            </extension>
            <extension key="db-index" value="Region">
              <extension key="field-name" value="region" />
            </extension>
          </class>
          <class name="OrderDetail">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="Order Details" />
            <field name="orderId">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="OrderID" />
              </extension>
            </field>
            <field name="productId">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="ProductID" />
              </extension>
            </field>
            <field name="discount">
              <extension key="db-column">
                <extension key="db-type" value="REAL" />
                <extension key="db-column-name" value="Discount" />
              </extension>
            </field>
            <field name="quantity">
              <extension key="db-column">
                <extension key="db-type" value="SMALLINT" />
                <extension key="db-column-name" value="Quantity" />
              </extension>
            </field>
            <field name="unitPrice">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="DECIMAL" />
                <extension key="db-column-name" value="UnitPrice" />
                <extension key="db-sql-type" value="money" />
              </extension>
            </field>
            <field name="order">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="OrderID" />
              </extension>
            </field>
            <field name="product">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="ProductID" />
              </extension>
            </field>
            <extension key="db-optimistic-locking" value="changed" />
            <extension key="db-index" value="OrderID">
              <extension key="field-name" value="orderId" />
            </extension>
            <extension key="db-index" value="ProductID">
              <extension key="field-name" value="productId" />
            </extension>
          </class>
          <class name="ActiveProduct">
            <extension key="db-class-id" value="False" />
          </class>
          <class name="DiscontinuedProduct">
            <extension key="db-class-id" value="True" />
          </class>
          <class name="Product">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="Products" />
            <field name="id">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="ProductID" />
              </extension>
            </field>
            <extension key="db-class-id" value="no">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="BIT" />
                <extension key="db-column-name" value="Discontinued" />
                <extension key="db-sql-type" value="bit" />
              </extension>  
            </extension>
            <!--<field name="discontinued">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="BIT" />
                <extension key="db-column-name" value="Discontinued" />
                <extension key="db-sql-type" value="bit" />
              </extension>
            </field>-->
            <field name="productName">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="ProductName" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="40" />
              </extension>
            </field>
            <field name="quantityPerUnit">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="QuantityPerUnit" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="20" />
              </extension>
            </field>
            <field name="reorderLevel">
              <extension key="db-column">
                <extension key="db-type" value="SMALLINT" />
                <extension key="db-column-name" value="ReorderLevel" />
              </extension>
            </field>
            <field name="unitPrice">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="DECIMAL" />
                <extension key="db-column-name" value="UnitPrice" />
                <extension key="db-sql-type" value="money" />
              </extension>
            </field>
            <field name="unitsInStock">
              <extension key="db-column">
                <extension key="db-type" value="SMALLINT" />
                <extension key="db-column-name" value="UnitsInStock" />
              </extension>
            </field>
            <field name="unitsOnOrder">
              <extension key="db-column">
                <extension key="db-type" value="SMALLINT" />
                <extension key="db-column-name" value="UnitsOnOrder" />
              </extension>
            </field>
            <field name="category">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="CategoryID" />
              </extension>
            </field>
            <field name="supplier">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="SupplierID" />
              </extension>
            </field>
            <extension key="db-key-generator" value="AUTOINC" />
            <extension key="db-optimistic-locking" value="changed" />
            <extension key="db-index" value="CategoriesProducts">
              <extension key="field-name" value="category" />
            </extension>
            <extension key="db-index" value="ProductName">
              <extension key="field-name" value="productName" />
            </extension>
            <extension key="db-index" value="SupplierID">
              <extension key="field-name" value="supplier" />
            </extension>
          </class>
          <class name="Region">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="Region" />
            <field name="id">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="RegionID" />
              </extension>
            </field>
            <field name="regionDescription">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="CHAR" />
                <extension key="db-column-name" value="RegionDescription" />
                <extension key="db-sql-type" value="nchar" />
                <extension key="db-length" value="50" />
              </extension>
            </field>
            <field name="territories">
              <collection>
                <extension key="inverse" value="region" />
              </collection>
            </field>
            <extension key="db-optimistic-locking" value="changed" />
          </class>
          <class name="Order">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="Orders" />
            <field name="id">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="OrderID" />
              </extension>
            </field>
            <field name="freight">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="DECIMAL" />
                <extension key="db-column-name" value="Freight" />
                <extension key="db-sql-type" value="money" />
              </extension>
            </field>
            <field name="orderDate">
              <extension key="db-column">
                <extension key="db-type" value="TIMESTAMP" />
                <extension key="db-column-name" value="OrderDate" />
              </extension>
            </field>
            <field name="requiredDate">
              <extension key="db-column">
                <extension key="db-type" value="TIMESTAMP" />
                <extension key="db-column-name" value="RequiredDate" />
              </extension>
            </field>
            <field name="shipAddress">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="ShipAddress" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="60" />
              </extension>
            </field>
            <field name="shipCity">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="ShipCity" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="shipCountry">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="ShipCountry" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="shipName">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="ShipName" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="40" />
              </extension>
            </field>
            <field name="shipPostalCode">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="ShipPostalCode" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="10" />
              </extension>
            </field>
            <field name="shipRegion">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="ShipRegion" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="shippedDate">
              <extension key="db-column">
                <extension key="db-type" value="TIMESTAMP" />
                <extension key="db-column-name" value="ShippedDate" />
              </extension>
            </field>
            <field name="customer">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="CHAR" />
                <extension key="db-column-name" value="CustomerID" />
                <extension key="db-sql-type" value="nchar" />
                <extension key="db-length" value="5" />
              </extension>
            </field>
            <field name="employee">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="EmployeeID" />
              </extension>
            </field>
            <field name="shipper">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="ShipVia" />
              </extension>
            </field>
            <field name="orderDetails">
              <collection>
                <extension key="inverse" value="order" />
              </collection>
            </field>
            <extension key="db-key-generator" value="AUTOINC" />
            <extension key="db-optimistic-locking" value="changed" />
            <extension key="db-index" value="CustomerID">
              <extension key="field-name" value="customer" />
            </extension>
            <extension key="db-index" value="EmployeeID">
              <extension key="field-name" value="employee" />
            </extension>
            <extension key="db-index" value="OrderDate">
              <extension key="field-name" value="orderDate" />
            </extension>
            <extension key="db-index" value="ShippedDate">
              <extension key="field-name" value="shippedDate" />
            </extension>
            <extension key="db-index" value="ShippersOrders">
              <extension key="field-name" value="shipper" />
            </extension>
            <extension key="db-index" value="ShipPostalCode">
              <extension key="field-name" value="shipPostalCode" />
            </extension>
          </class>
          <class name="Supplier">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="Suppliers" />
            <field name="id">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="SupplierID" />
              </extension>
            </field>
            <field name="address">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Address" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="60" />
              </extension>
            </field>
            <field name="city">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="City" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="companyName">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="CompanyName" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="40" />
              </extension>
            </field>
            <field name="contactName">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="ContactName" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="30" />
              </extension>
            </field>
            <field name="contactTitle">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="ContactTitle" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="30" />
              </extension>
            </field>
            <field name="country">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Country" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="fax">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Fax" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="24" />
              </extension>
            </field>
            <field name="homePage">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="CLOB" />
                <extension key="db-column-name" value="HomePage" />
                <extension key="db-sql-type" value="ntext" />
              </extension>
            </field>
            <field name="phone">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Phone" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="24" />
              </extension>
            </field>
            <field name="postalCode">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="PostalCode" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="10" />
              </extension>
            </field>
            <field name="region">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="Region" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="products">
              <collection>
                <extension key="inverse" value="supplier" />
              </collection>
            </field>
            <extension key="db-key-generator" value="AUTOINC" />
            <extension key="db-optimistic-locking" value="changed" />
            <extension key="db-index" value="CompanyName">
              <extension key="field-name" value="companyName" />
            </extension>
            <extension key="db-index" value="PostalCode">
              <extension key="field-name" value="postalCode" />
            </extension>
          </class>
          <class name="Category">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="Categories" />
            <field name="id">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="CategoryID" />
              </extension>
            </field>
            <field name="categoryName">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="CategoryName" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="15" />
              </extension>
            </field>
            <field name="description">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="CLOB" />
                <extension key="db-column-name" value="Description" />
                <extension key="db-sql-type" value="ntext" />
              </extension>
            </field>
            <field name="picture">
              <extension key="db-column">
                <extension key="db-type" value="LONGVARBINARY" />
                <extension key="db-column-name" value="Picture" />
              </extension>
            </field>
            <field name="products">
              <collection>
                <extension key="inverse" value="category" />
              </collection>
            </field>
            <extension key="db-key-generator" value="AUTOINC" />
            <extension key="db-optimistic-locking" value="changed" />
            <extension key="db-index" value="CategoryName">
              <extension key="field-name" value="categoryName" />
            </extension>
          </class>
          <class name="Territory">
            <extension key="db-do-not-create-table" value="true" />
            <extension key="db-table-name" value="Territories" />
            <field name="id">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="VARCHAR" />
                <extension key="db-column-name" value="TerritoryID" />
                <extension key="db-sql-type" value="nvarchar" />
                <extension key="db-length" value="20" />
              </extension>
            </field>
            <field name="territoryDescription">
              <extension key="db-column" value="mssql">
                <extension key="db-type" value="CHAR" />
                <extension key="db-column-name" value="TerritoryDescription" />
                <extension key="db-sql-type" value="nchar" />
                <extension key="db-length" value="50" />
              </extension>
            </field>
            <field name="region">
              <extension key="db-column">
                <extension key="db-type" value="INTEGER" />
                <extension key="db-column-name" value="RegionID" />
              </extension>
            </field>
            <field name="employees">
              <collection>
                <extension key="inverse" value="territories" />
              </collection>
            </field>
            <extension key="db-optimistic-locking" value="changed" />
          </class>
        </namespace>
      </mapping>
    </mappings>
  </openaccess>
</configuration>