<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="Xtensive.Storage" type="Xtensive.Storage.Configuration.Elements.ConfigurationSection, Xtensive.Storage, Version=1.0.0.0, Culture=neutral, PublicKeyToken=93a6c53d77a5296c" />
	</configSections>
	<appSettings />
	<!--  DataObjects.Net configuration -->
	<Xtensive.Storage>
		<domains>
			<domain name="Default" upgradeMode="Recreate" connectionUrl="sqlserver://localhost/DO40-Tests" />
			<!-- Examples of connectionUrl for other databases:
			<domain name="memory" upgradeMode="Recreate" connectionUrl="memory://localhost/DO40-Tests" />
			<domain name="sqlserver" upgradeMode="Recreate" connectionUrl="sqlserver://localhost/DO40-Tests"/>
			<domain name="sqlexpress" upgradeMode="Recreate" connectionUrl="sqlserver://localhost\SQLExpress/DO40-Tests"/>
			<domain name="postgresql" upgradeMode="Recreate" connectionUrl="postgresql://do4test:do4testpwd@localhost:8332/do40test?Encoding=ASCII" />
			<domain name="oracle" upgradeMode="Recreate" connectionUrl="oracle://do4test:do4testpwd@localhost/do40test"/>
			-->
		</domains>
	</Xtensive.Storage>
	<system.web>
		<!-- 
			Set compilation debug="true" to insert debugging 
			symbols into the compiled page. Because this 
			affects performance, set this value to true only 
			during development.
		-->
		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</assemblies>
		</compilation>
		<!--
			The <authentication> section enables configuration 
			of the security authentication mode used by 
			ASP.NET to identify an incoming user. 
		-->
		<authentication mode="Windows"/>
		<!--
			The <customErrors> section enables configuration 
			of what to do if/when an unhandled error occurs 
			during the execution of a request. Specifically, 
			it enables developers to configure html error pages 
			to be displayed in place of a error stack trace.

			<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
				<error statusCode="403" redirect="NoAccess.htm" />
				<error statusCode="404" redirect="FileNotFound.htm" />
			</customErrors>
		-->
	</system.web>
	<system.webServer>
		<modules>
			<!-- DataObjects.Net SessionManager registration -->
			<add name="SessionManager" type="Xtensive.Storage.Web.SessionManager, Xtensive.Storage, Version=1.0.0.0, Culture=neutral, PublicKeyToken=93a6c53d77a5296c" />
		</modules>
	</system.webServer>
</configuration>
