<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SSNorthwind"
			 connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;Pooling=False"/>
    <add name="PerformanceTest"
			 connectionString="Data Source=.;Initial Catalog=PerformanceTest;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
</configuration>