<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SSNorthwind" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True;Pooling=False"/>
    <add name="PerformanceTest" connectionString="Data Source=.;Initial Catalog=PerformanceTest;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
